* {
    text-align: center;
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

span {
    font-size: 5em;
}

button
{
    color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    padding: 10%;
    border-radius: 20px;
    cursor: pointer;
    color: cornsilk;
}

h2 {
    margin: 10%;
    padding: 10%;
}

